body {
    background: #352f5b;
}

.container {
    max-width: 400px;
}

input[type=text]{  color: #fff;
  border: none;
background: rgba(0,0,0,0.2);
max-width: 400px;}

input[type=text]:focus {
background: rgba(255,0,0,1);
}

.todos li {
 background: #423a6f;   
 list-style: none;
}
.delete {
  cursor: pointer;  
}
.filtered {
  display: none !important;
}